@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<img src="~/Content/img/coffee.jpg" alt="" class="section-title" style="width: 100%; height: 600px;"/>

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
            <div class="row">


                <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("../Content/img/about.jpg");'>
                </div>

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                    <div class="content">
                        <h3>Coffee Table <strong>el mejor lugar para pasar un buen rato</strong></h3>
                        <p>
                            Nuestra cafetería se creo para ofrecer un espacio a esas personas que quieren disfrutar de un buen rato en su hora de merienda, ya sea de mañana, tarde o noche.
                        </p>
                        <p class="font-italic">
                            De lo que se puede disfrutar en nuestras instalaciones es de:
                        </p>
                        <ul>
                            <li><i class="bx bx-check-double"></i> Una gran variedad de .</li>
                            <li><i class="bx bx-check-double"></i> Platillos especiales y diferentes combos.</li>
                            <li><i class="bx bx-check-double"></i> Un ambiente amigable y familiar.</li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- End About Section -->
</main>
